.btn {
  font-size: 18px;
  color: #55f1a0;
  padding: 2px 15px;
  border: 1px solid #55f1a0;
  border-radius: 5px;

  &__login {
    margin-right: 20px;

    &:hover {
      border-color: $blue;
    }

    &-icon {
      fill: #55f1a0;
      margin-right: 5px;
      margin-bottom: 2px;
      transition: .15s;
      transition-timing-function: ease-in-out;
    }

    &:hover &-icon {
      fill: $blue;
    }
  }

  &__sign {
    color: white;
    background-image: linear-gradient(-71deg, #53e197, #3ed485, #49e995);
    transition: all .15s ease-in-out;
    &:hover {
      color: white;
      background-image: linear-gradient(-71deg, #4d6d8f, #345374);
      border-color: #4d6d8f;
    }

    &-icon {
      fill: white;
      margin-bottom: 2px;
    }
  }

  &__welcome {
    font-size: 30px;
    padding: 5px 30px;
    color: white;
    background-color: white;
    background-image: linear-gradient(-71deg, #53e197, #3ed485, #49e995);
    transition: all .15s ease-in-out;
    margin-top: 30px;

    &:hover {
      color: #55f1a0;
      background-image: none;
      background-color: white;
      border-color: #55f1a0;
    }
  }

  &__goOut {
    border-color: $pink;
    color: $pink;
    margin: 0 auto;

    &:hover {
      border-color: $green;
      color: $green;
    }

    &-icon {
      fill: $pink;
      width: 16px;
      height: 17px;
      transition: all .15s ease-in-out;
    }

    &:hover &-icon {
      fill: $green;
    }
  }
  
  &--edit {
    border-color: #04a1ef;
    color: #04a1ef;
    margin-bottom: 5px;

    &:hover {
      border-color: $blue;
      color: $blue;
    }
  }

  &__icon {

    &:hover &-edit,
    &:hover &-remove {
      fill: $blue;
    }

    &-edit {
      fill: #04a1ef;
      width: 17px;
      height: 18px;
      transition: all .15s ease-in-out;
    }

    &-remove {
      fill: $pink;
      width: 15px;
      height: 15px;
      transition: all .15s ease-in-out;
    }
  }

  &--remove {
    border-color: $pink;
    color: $pink;
    margin-bottom: 5px;

    &:hover {
      border-color: $blue;
      color: $blue;
    }
  }

  &--addCosts {
    display: block;
    border-radius: 5px;
    border-color: $pink;
    background-color: white;
    background-image: linear-gradient(-71deg, #fd5b77, #ff899d);
    color: white;

    &:hover {
      background-color: white;
      background-image: none;
      color: $pink;
    }
  }

  &--addInCome {
    display: block;
    border-radius: 5px;
    background-color: white;
    background-image: linear-gradient(-71deg, #3ed485, #49e995);
    color: white;

    &:hover {
      background-color: white;
      background-image: none;
      color: $green;
    }
  }
}