.manage {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #495461;
  margin-bottom: 20px;

  &__edit {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #b0b3b8;

    &:hover {
      color: white;
      text-decoration: none;

    }
  }
}